@model IEnumerable<SelfEduNet.Models.UserCourse>

@foreach (var userCourse in @Model)
{
	<div class="card mb-3">
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<div class="d-flex mx-2">
					<a asp-controller="Course" asp-action="Detail" asp-route-id="@userCourse.Course.Id" asp-area="" class="text-decoration-none">

					<div class="course-img">
						@if (!string.IsNullOrEmpty(userCourse.Course.Preview))
						{
							<img src="@userCourse.Course.Preview" alt="@userCourse.Course.CourseName"
							     class="img-fluid me-3 rounded card-image" style="width: 100px;"/>
						}
						else
						{
							<img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
							     alt="@userCourse.Course.CourseName"
							     class="img-fluid me-3 rounded card-image" style="width: 100px;"/>
						}
					</div>
					</a>
					<div class="d-flex flex-column justify-content-between col">
						<a asp-controller="Course" asp-action="Detail" asp-route-id="@userCourse.Course.Id" asp-area="" class="text-decoration-none text-dark">

						<h3 class="card-title">@userCourse.Course.CourseName</h3>
						</a>
						<div>
							<h5 class="card-subtitle mb-2 text-body-secondary">@userCourse.Course.Owner.FirstName @userCourse.Course.Owner.LastName</h5>
							@foreach (var author in userCourse.Course.Info.Authors)
							{
								<h6 class="card-subtitle mb-2 text-body-secondary"><i class="fa-solid fa-users"></i> @author.FirstName @author.LastName</h6>
							}
							<p class="card-text">@(userCourse.Course.FullPrice > 0 ? userCourse.Course.FullPrice : "Безкоштовно")</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
}
