@model IEnumerable<SelfEduNet.Models.UserCourse>

@foreach (var userCourse in @Model)
{
	<div class="card mb-3">
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<div class="d-flex mx-2">
					<div class="course-img">
						@if (!string.IsNullOrEmpty(userCourse.Course.Preview))
						{
							<img src="@userCourse.Course.Preview" alt="@userCourse.Course.CourseName"
							     class="img-fluid me-3 rounded card-image" style="width: 100px;" />
						}
						else
						{
							<img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
							     alt="@userCourse.Course.CourseName"
							     class="img-fluid me-3 rounded card-image" style="width: 100px;" />
						}
					</div>

					<div class="d-flex flex-column justify-content-between col">
						<h3 class="card-title">@userCourse.Course.CourseName</h3>
						<div>
							<h2 class="card-title">@userCourse.Course.CourseName</h2>
							<h5 class="card-subtitle mb-2 text-body-secondary">@userCourse.Course.Owner.FirstName @userCourse.Course.Owner.LastName</h5>
							@foreach (var author in userCourse.Course.Info.Authors)
							{
								<h6 class="card-subtitle mb-2 text-body-secondary"><i class="fa-solid fa-users"></i> @author.FirstName @author.LastName</h6>
							}
							<p class="card-text">@(userCourse.Course.FullPrice > 0 ? userCourse.Course.FullPrice : "Безкоштовно")</p>
						</div>
						@if (userCourse is { IsEnrolled: true })
						{
							<a asp-action="ViewLesson"
							   asp-controller="Lesson"
							   asp-area="Teach"
							   asp-route-courseId="@userCourse.Course.Id"
							   class="btn btn-outline-success btn-lg align-self-start mt-auto w-50 fs-3">
								Повернутися до навчання
							</a>
						}
					</div>
				</div>
				<div class="d-flex mx-2">
					<div class="dropdown mx-2 fs-3">
						<a class="dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-list" style="color: #000000;"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item fs-5 gj-cursor-pointer">
									<div class="d-flex align-items-baseline justify-content-between">
										<p class="m-0 mx-2">Видалити</p>
										<i class="fa-solid fa-trash"></i>
									</div>

								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
}
