@model SelfEduNet.ViewModels.EditLessonViewModel
@{
	var currentStep = ViewData["Step"] as Step;
}
@if (@Model.Lesson != null)
{
	@await Html.PartialAsync("EditLessonMode/_EditLessonForm", @Model.Lesson)
	@await Html.PartialAsync("EditLessonMode/_EditStepList", @Model)
					
					
	<div>
		@await Html.PartialAsync("EditLessonMode/_EditStepBase", currentStep)
	</div>

	<div class="d-flex justify-content-between align-items-baseline mt-2">
		<a asp-action="ViewLesson" asp-controller="Lesson" asp-area="Teach"
		   asp-route-courseId="@Model.Course.Id"
		   asp-route-lessonId="@Model.Lesson.Id"
		   asp-route-stepId="@currentStep.Id">
			Повернутися до перегляду <i class="fa-solid fa-eye"></i>
		</a>
		<button class="btn btn-danger" name="delete-step" data-step-id="@currentStep.Id">
			Видалити крок 
		</button>
	</div>
	

}
else
{
	@await Html.PartialAsync("EditLessonMode/_EditLessonForm", @Model.Course.Lessons.FirstOrDefault())
}