@model SelfEduNet.ViewModels.EditLessonViewModel

@{
	var currentStep = ViewData["Step"] as Step;
}
<div class="row">


	<ul class="nav nav-pills align-items-baseline ms-3">

		@for (int i = 0; i < @Model.Steps.Count; i++)
		{
			var step = Model.Steps[i];
			var routeData = new Dictionary<string, string>
		{
		{ "courseId", @Model.Course.Id.ToString() },
		{ "lessonId", @Model.Lesson.Id.ToString() },
		{ "stepId",  step.Id.ToString() }
		};

			<li class="nav-item">
				<a class="step-btn shadow p-3 mb-5 view-step @(step.Id == currentStep?.Id ? "active" : "")"
				   aria-current="page"
				   asp-action="EditLesson"
				   asp-controller="Lesson"
				   asp-area="Teach"
				   asp-all-route-data="routeData">
					@(i + 1)
				</a>
			</li>
		}
		<a class="step-btn active shadow p-3 mb-5 gj-cursor-pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
			+
		</a>
	</ul>
</div>