@using SelfEduNet.Helpers
@model Step
@{
	bool isYoutubeVideo = YouTubeHelper.IsYouTubeUrl(Model.VideoUrl ?? "");
}

<div class="accordion accordion-flush mb-3" id="accordionFlushExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingOne">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
				Завантаження відео
			</button>
		</h2>
		<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<div class="video-uploader__section mb-3">
					<p class="text-muted">Для власних відео завантажених через файл доступна опція генерації контексту</p>

					<div role="radiogroup" id="uploadOptions" class="radio-button-group video-uploader__select ">
						<input type="radio" class="btn-check" name="uploadType" id="linkOption" autocomplete="off">
						<label class="btn" for="linkOption">Зовнішне посилання</label>

						<input type="radio" class="btn-check" name="uploadType" id="fileOption" autocomplete="off" checked>
						<label class="btn" for="fileOption">Завантажити файл</label>
					</div>
				</div>

				<!-- File Upload Form -->
				<form asp-controller="Step" asp-action="UploadVideo" method="post" enctype="multipart/form-data" id="fileUploadSection" data-step-id="@Model.Id">
					<div class="mb-3 d-flex justify-content-between">
						<input id="fileInput" class="form-control" name="videoFile" accept="video/mp4,video/x-m4v,video/*" type="file">
					</div>
					<button type="submit" class="btn btn-success">Завантажити</button>

				</form>

				<!-- URL Submission Form -->
				<form asp-controller="Step" asp-action="UploadVideo" method="post" id="linkUploadSection" data-step-id="@Model.Id">
					<p class="text-muted">Прив'язувати відео можна тільки з YouTube, посилання з інших сервісів зберігатися не будуть</p>
					<div>
						@{
							var videoUrl = isYoutubeVideo ? Model.VideoUrl : "";
						}
						<input type="url" class="form-control my-3" name="videoUrl" placeholder="Вставьте посилання на відео" required
							   value="@(videoUrl != null ? videoUrl : "")">
						<button type="submit" class="btn btn-success">Прив'язати відео</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
				Контекст
			</button>
		</h2>
		<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				
				<div class="d-flex justify-content-between">
					<button type="button" name="generateContext" data-step-id="@Model.Id" class="btn btn-primary mb-3">Згенерувати контекст</button>
				</div>

				<div class="form-floating">
					<form asp-action="SaveStep" asp-controller="Step" asp-area="Teach">
						<input type="hidden" asp-for="Id" value="@Model.Id" />
						<textarea class="form-control lh-base"
								  style="max-height:600px; min-height:600px; resize:vertical; overflow:auto;"
								  placeholder="Напишіть контекст для уроку"
								  asp-for="Context"
								  id="step-context">@(Model.Context ?? "")
						</textarea>
						<button type="submit" class="btn btn-success mt-3">Зберегти контекст</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
				Резюме
			</button>
		</h2>
		<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p class="text-muted">Генерує резюме/конспект для користувачів на основі контексту крока</p>

				<button type="button" name="generateResume" data-step-id="@Model.Id" class="btn btn-primary mb-3">Згенерувати резюме</button>

				<div class="form-floating">
					<p id="saveStatus"></p>
					<div class="editor-container editor-container_classic-editor editor-container_include-word-count" id="editor-container">
						<div class="editor-container__editor">
							<div id="resume-editor" data-step-id="@Model.Id" data-initial="@Html.Raw(System.Net.WebUtility.HtmlEncode(Model.Resume))"></div>
						</div>
						<div class="editor_container__word-count" id="editor-word-count"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="step-text-wrapper">
	<div id="loader" class="d-flex justify-content-center align-items-center position-relative d-none" style="height: 200px;">
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Загружається...</span>
		</div>
	</div>
	<div id="video-box" class="upload-box mb-3">
		<div id="youtubePlayerBox" class="@((string.IsNullOrEmpty(Model.VideoUrl)) || !isYoutubeVideo ? "d-none" : "" )">
			<iframe id="youtubePlayer" width="100%" height="315"
					src=@YouTubeHelper.GetYouTubeEmbedUrl(Model.VideoUrl)
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen>
			</iframe>
		</div>

		<video id="videoPlayer" class="video-js vjs-big-play-centered @((string.IsNullOrEmpty(Model.VideoUrl) || isYoutubeVideo) ? "d-none" : "")"
			   controls preload="auto" width="640" height="360"
			   poster="" data-setup="{}">
			<source src="@(!string.IsNullOrEmpty(Model.VideoUrl) ? Model.VideoUrl : "")" type="video/mp4" />
			<p class="vjs-no-js">
				To view this video please enable JavaScript...
			</p>
		</video>
	</div>
</div>