@model SelfEduNet.ViewModels.AccountLoginViewModel
@{
    ViewData["Title"] = "Вход";
}

<div class="container" id="reg_container">
    <div class="d-flex justify-content-center my-3">
        <div class="col-md-6">

            <!-- Форма для входа -->
            <form id="loginForm" asp-action="Login" asp-controller="Account" method="post">
                @Html.AntiForgeryToken()

                @* Перенаправление после входа, если передан параметр next *@
                @* @if (!string.IsNullOrEmpty(Request.Query["ReturnUrl"]))
                {
                    <input type="hidden" name="ReturnUrl" value="@Request.Query["ReturnUrl"]">
                } *@
                @if(TempData["Error"] != null)
                {
	                <div class="col-md-12 alert alert-danger">
		                <span><b>Sorry!</b> - @TempData["Error"]</span>
	                </div>
                }

	                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	                <div class="form-group">
		                <label asp-for="EmailAddress" class="control-label"></label>
		                <input asp-for="EmailAddress" class="form-control">
		                <span asp-validation-for="EmailAddress" class="text-danger"></span>
	                </div>
	                <div class="form-group">
		                <label asp-for="Password" class="control-label"></label>
		                <input asp-for="Password" class="form-control" />
		                <span asp-validation-for="Password" class="text-danger"></span>
	                </div>
	                <div class="form-group">
		                <input class="btn btn-outline-success float right" type="submit" value="Log in" />
	                </div>

            </form>

            @* <!-- Ссылка для входа через Google -->
            <a href="@Url.Action("ExternalLogin", "Account", new { provider = "Google", returnUrl = ViewData["ReturnUrl"] })" class="btn">Увійти з Google</a>

            <!-- Ссылка на восстановление пароля -->
            <a href="@Url.Action("ForgotPassword", "Account")" class="text-dark">Забули пароль?</a> *@
        </div>
    </div>
</div>
