@{
	Layout = "_Layout";
}
@model Course

<div class="course-detail-header">
    <div class="d-flex page-fragment">
        <div class="d-flex flex-column text-white">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="course-detail-header-title">@Model.CourseName</h1>
                    <div class="course-detail-header-summary">
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque enim explicabo maiores
                            nihil non quam quisquam quos suscipit tempora unde! Accusantium consectetur doloremque
                            ipsam non quae quisquam repellat rerum temporibus!
                        </div>
                        <div>
                            Alias assumenda at consectetur consequuntur ea eaque, est explicabo fuga illo iste odio
                            optio quisquam, quo repellat sunt veritatis vitae. Cum cupiditate itaque laudantium
                            natus neque quod repellendus sed vero?
                        </div>
                    </div>


                </div>
                <div class="col-md-4 text-center ">
                    @if (Model.Preview.Length > 0)
                    {
                        <img src="@Model.Preview" alt="@Model.CourseName" class="img-fluid rounded"
	                         style="height: 200px;">
                    }
                    else
                    {
	                    <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                             alt="@Model.CourseName"
	                         class="img-fluid me-3 rounded card-image">
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-4">
                    <div class="d-flex align-items-center mb-2 justify-content-between">
                        <span class="me-3">
                            <i class="fa-solid fa-signal"></i> @Model.Difficulty
                        </span>
                        <span class="me-3">
	                        <i class="fa-regular fa-clock"></i> 10 часов в неделю
                        </span>
                        @if (Model.HaveCertificate)
                        {
	                        <span>
		                        <i class="fa-solid fa-award"></i> Сертификат selfedu
	                        </span>
                        }
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="me-3">
                                <span class="badge bg-warning text-dark">4.9</span>
                                <span>5 572 учеников</span> @* TODO *@
                            </div>
                            <a href="#" class="text-primary">454 відгуки</a> @* TODO *@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="course-detail-main">
    <div class="page-fragment">
        <div class="row">
            <div class="col-md-8">
                <h3>Про курс</h3>
                <p class="license">✔ Образовательная лицензия № Л035-01233-15/01102936</p>
                <p>
                    Курс продолжает линейку курсов "Поколение Python", адресован знающим базовые конструкции и типы
                    данных языка Python. Знакомит с концепцией объектно-ориентированного программирования.
                </p>
                <ul>
                    <li>Атрибуты, методы, свойства</li>
                    <li>Магические методы</li>
                    <li>Наследование, полиморфизм, декораторы классов</li>
                </ul>
            </div>
            <div class="col-md-4 price-section">
                <div>
                    <span class="price">5 900 грн</span>
                    <span class="old-price">6 900 грн</span>
                    <p>При оплате до 16 вересня</p>
                </div>
                <button class="btn btn-buy btn-lg btn-block">Придбати</button>
                <button class="btn btn-outline-success btn-lg btn-block">Спробувати безкоштовно</button>
                <p class="mt-3">
                    <a href="#">Add to Wishlist</a> @* TODO *@
                </p>
            </div>
        </div>
    </div>
</div>

