@{
	Layout = "_Layout";
}
@model Course

<div class="course-detail-header">
    <div class="d-flex container-xl">
        <div class="d-flex flex-column text-white">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="course-detail-header-title">@Model.CourseName</h1>
                    <div class="course-detail-header-summary">
                        <div>
                            @Model.Description
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center ">
	                @if (Model.Preview == null || Model.Preview.Length > 0)
	                {
                        <img src="@Model.Preview" alt="@Model.CourseName" class="img-fluid rounded"
	                         style="height: 200px;">
                    }
                    else
                    {
	                    <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                             alt="@Model.CourseName"
	                         class="img-fluid me-3 rounded card-image">
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-4">
                    <div class="d-flex align-items-center mb-2 justify-content-between">
                        <span class="me-3">
                            <i class="fa-solid fa-signal"></i> @Model.Difficulty
                        </span>
                        <span class="me-3">
                            <i class="fa-regular fa-clock"></i> @Model.Info.Workload
                        </span>
                        @if (Model.HaveCertificate)
                        {
	                        <span>
		                        <i class="fa-solid fa-award"></i> Сертификат selfedu
	                        </span>
                        }
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="me-3">
                                <span class="badge bg-warning text-dark">4.9</span>
                                <span>5 572 учеников</span> @* TODO *@
                            </div>
                            <a href="#" class="text-primary">454 відгуки</a> @* TODO *@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="course-detail-main">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-8">
	            <div id="coursePromoText" class="ck-content border rounded ms-3 p-4" style="max-width:1000px;">
		            @if (@Model.PromoText.Length > 0 && @Model.PromoText != null)
		            {
			            @Html.Raw(Model.PromoText)
		            }
	            </div>
            </div>
            <div class="col-md-4 price-section d-flex flex-column">
	            <div>
		            <div>
			            <span class="price fs-2 mb-2">@(Model.FullPrice > 0 ? Model.FullPrice : "Безкоштовно")</span>
		            </div>
		            <button class="btn btn-buy btn-lg btn-block fs-3 disabled">Придбати</button>
		            <a asp-action="SignUpToCourse" asp-controller="Course" asp-route-id="@Model.Id" class="btn btn-outline-success btn-lg btn-block fs-3">
			            Спробувати безкоштовно
		            </a>
		            <p class="mt-3">
			            <a href="#">Add to Wishlist</a> @* TODO *@
		            </p>
	            </div>
	            <div>
		            <h2>Програма курсу</h2>
		            <div class="d-flex flex-column">
			            <ol class="list-group list-group-numbered">
                            @foreach (var module in @Model.Modules)
                            {
	                            <li class="list-group-item d-flex justify-content-between align-items-start">
		                            <div class="ms-2 me-auto">
                                        <div class="fw-bold">@module.Title</div>
                                        <div class="d-inline-block text-truncate" style="max-width: 300px;">
	                                        @module.Description
                                        </div>
		                            </div>
		                            <span class="badge bg-purple rounded-pill">@module.Lessons.Count()</span>
	                            </li>
                            }
			            </ol>
		            </div>
	            </div>
            </div>
        </div>
    </div>
</div>

