@model IEnumerable<Course>

@if (!@Model.Any())
{
	<p class="text-center fs-2 fw-bold">Нічого не знайдено</p>
}

@foreach (var course in @Model)
{
	<div class="card mb-3">
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<div class="d-flex mx-2">
					<div class="course-img">
						@if (!string.IsNullOrEmpty(course.Preview))
						{
							<img src="@course.Preview" alt="@course.CourseName"
							     class="img-fluid me-3 rounded card-image" />
						}
						else
						{
							<img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
							     alt="@course.CourseName"
							     class="img-fluid me-3 rounded card-image" />
						}
					</div>
					<div class="mx-2">
						<h4 class="card-title">@course.CourseName</h4>
						<h5 class="card-subtitle mb-2 text-body-secondary">@course.Owner</h5>
					</div>
				</div>
				<div class="d-flex mx-2">
					<div class="dropdown mx-2 fs-3">
						<a class="dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-list" style="color: #000000;"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								@if (User.Identity.IsAuthenticated)
								{
									@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
									{
										<a asp-action="EditInfo" asp-controller="Course" asp-route-id="@course.Id" asp-area="" class="dropdown-item fs-5">
											<div class="d-flex align-items-baseline justify-content-between">
												<p class="m-0 mx-2">Інформація</p>
												<i class="fa-solid fa-pen-to-square"></i>
											</div>
										</a>
										<a asp-action="EditContent" asp-controller="TeachCourse" asp-route-id="@course.Id" asp-area="Teach" class="dropdown-item fs-5">
											<div class="d-flex align-items-baseline justify-content-between">
												<p class="m-0 mx-2">Зміст</p>
												<i class="fa-solid fa-pen-to-square"></i>
											</div>
										</a>
									}
								}
							</li>
							<li>
								<a class="dropdown-item fs-5 gj-cursor-pointer" data-delete-course-id="@course.Id">
									<div class="d-flex align-items-baseline justify-content-between">
										<p class="m-0 mx-2">Видалити</p>
										<i class="fa-solid fa-trash"></i>
									</div>
									
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section Scripts {

	<script>
	$(document).ready(function () {
		$(document).on('click', 'a[data-delete-course-id]', function () {
		var courseId = $(this).data('delete-course-id');
		console.log("ok");
		showConfirmationDialog(
			'Ви впевнені?',
			'Ця дія видаляє модуль. Ви не зможете відновити його!',
			'Так, видалити!',
			'Відмінити',
			() => {
				$.ajax({
					url: "@Url.Action("DeleteCourse", "Course", new { area = "" })",
					type: 'POST',
					data: {
						courseId: courseId,
					},
					success: function (response) {
						$.notify({
							message: response.message
						}, {
							type: 'success'
						});
						renderCoursesList();
					},
					error: function (xhr) {
						const response = xhr.responseJSON;
						const errorMessage = response && response.message ? response.message : "An unexpected error occurred.";
						$.notify({
						message: response.message
						}, {
							type: 'danger'
						});
					}
				});
			}
		);
	});


		function renderCoursesList() {
			$.ajax({
				url: "@Url.Action("RenderCoursesList", "Course", new { area = "" })",
				type: 'GET',
				data: { },
				success: function (response) {
					$('#courses-container').html(response);
				},
				error: function (xhr, status, error) {
					console.error("Error loading courses list: ", status, error);
				}
			});
		}
	});
</script>
}