@model IEnumerable<Course>

@if (!Model.Any())
{
	<p class="text-center fs-2 fw-bold">Нічого не знайдено</p>
}

@foreach (var course in Model)
{
	<a asp-controller="Course" asp-action="Detail" asp-route-id="@course.Id" asp-area="" class="text-decoration-none">
		<div class="card course-card">
			<div class="card-body">
				<div class="d-flex">
					<!-- Изображение -->
					@if (!string.IsNullOrEmpty(course.Preview))
					{
						<img src="@course.Preview" alt="@course.CourseName"
							 class="img-fluid me-3 rounded card-image" />
					}
					else
					{
						<img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
							 alt="@course.CourseName"
							 class="img-fluid me-3 rounded card-image" />
					}

					<div>
						<h5 class="card-title">@course.CourseName</h5>
						<h6 class="card-subtitle mb-2 text-body-secondary">@course.Owner</h6>
						<p class="card-text">@course.FullPrice</p>
					</div>
				</div>
			</div>
		</div>
	</a>
}